<div class="aaa"></div>

<div class="burger-mobile-menu">
  <div class="burger-mobile-menu_coteiner conteiner">
    <div class="burger-mobile-menu-top"></div>

    <div class="burger-mobile-menu_account-stephen">
      <img
        class="burger-mobile-menu_account-photo"
        alt=""
        src="./images/famous-face.jpg"
      />
      <p class="burger-mobile-menu_name">Stephan</p>
    </div>

    <div class="burger-mobile-div-nav">
      <ul class="burger-mobile-header-nav">
        <li class="burger-mobile-header-item burger-header-item-first">
          <a class="burger-mobile-header-link burger-header-link-first">Home</a>
        </li>
        <li class="burger-mobile-header-item burger-header-item-second">
          <a class="burger-mobile-header-link burger-header-link-second"
            >Shopping list
            <svg class="burger-menu_shopping-list" width="20" height="20">
              <use href="./images/icons.svg.svg#lock-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button class="burger-mobile-menu_log-out">
      Log out
      <svg class="burger-menu_log-out" width="20" height="20">
        <use href="./images/icons.svg.svg#arrow"></use>
      </svg>
    </button>
    <div class="burger-menu_img-conteinet-beckgr">
      <img
        class="burger-menu_img-beckgr"
        src="./images/origin_collection.png"
        alt="background image"
        loading="lazy"
      />
    </div>
  </div>
</div>
