<div class="conteiner-hidden" hidden  > 
<div class="burger-mobile-menu" hidden>
  <div class="burger-mobile-menu_coteiner conteiner" >
    

    <div class="burger-mobile-menu-account">
      <img
        class="burger-mobile-menu_account-photo"
        alt=""
        src="./images/face-account.jpg"
      />
      <p class="burger-mobile-menu_name">Stephan</p>
    </div>

    <div class="burger-mobile-div-nav">
       <ul class="burger-mobile-header-nav">
        <li class="burger-mobile-header-item burger-header-item-first">
          <a
            class="burger-mobile-header-link burger-header-link-first  "
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="burger-mobile-header-item burger-header-item-second">
          <a
            class="burger-mobile-header-link burger-header-link-second "
            href="./shopping-list.html"
            >Shopping list
            <svg class="burger-menu_shopping-list" width="20" height="20">
              <use href="./images/icons.svg#icon-shopping_bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button class="burger-mobile-menu_log-out">
      Log out
      <svg class="burger-menu_log-out" width="20" height="20">
        <use href="./images/icons.svg#icon-yellow-arrow"></use>
      </svg>
    </button>
    <div class="burger-menu_img-conteinet-beckgr">
      <img
        class="burger-menu_img-beckgr"
        src="./images/origin_collection.png"
        alt="background image"
        loading="lazy"
      />
    </div>
  </div>
</div>
