<header class="header">
  <div class="container">
    <div class="container-header">
      <a href="/src/index.html" class="logo-link"
        ><svg class="icon">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Bookshelf</span>
      </a>
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item active">
            <a href="/src/index.html" class="nav-link">HOME</a>
          </li>
          <li class="navigation-item">
            <div class="nav-item-div">
              <a href="/src/shopping-list.html" class="nav-link"
                >SHOPPING LIST
                <svg class="item-icon">
                  <use href="/src/images/icons.svg#icon-shopping_bag"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="buttons-wrapper">
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        <button class="burger-button"></button>
        <button type="button" class="user-button">
          <div class="user-info">
            <div class="user-logo">
              <svg
                class="user-icon"
                width="19"
                height="19"
                fill="var(--violet)"
              >
                <use href="/src/images/icons.svg#icon-user"></use>
              </svg>
            </div>
            <p class="username">Stephen</p>
            <svg width="14" height="26" class="info-icon">
              <use href="/src/images/icons.svg#icon-caret-down"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
