<header class="header">
  <div class="container">
    <div class="container-header">
      <a href="/src/index.html" class="logo-link"
        ><svg class="icon">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Bookshelf</span>
      </a>

      <div class="buttons-wrapper">
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        <button class="burger-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="none"
          >
            <path
              stroke="#111"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.833 11.667H3.5M24.5 7h-21M24.5 16.333h-21M19.833 21H3.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
