<div class="backdrop is-hidden" data-modal="open">
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close="">
            <svg class="svg-modal-close">
                <use href="/src/images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-book-item">

        </div>
        <p class="js-modal-txt">Сongratulations! You have added the book to the shopping list.
            To delete, press the button “Remove from the shoppinglist”.
        </p>


    </div>
</div>