.categories {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 100%;
  height: 230px;
  overflow: auto;
}

.categories::-webkit-scrollbar {
  width: 8px;
}

.categories::-webkit-scrollbar-thumb {
  height: 114px;
  border-radius: 12px;
  background-color: var(--scroller-color);
}

.category_list {
  cursor: pointer;
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  padding: 0;
}

.category_list:not(:last-child) {
  margin-bottom: 32px;
}

.category_list:focus,
.category_list:hover,
.category_list:active {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}

.category_title {
  cursor: pointer;
  color: var(--gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  padding: 0;
  margin-bottom: 32px;
}

.category_title:active,
.category_title:focus,
.category_title:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
  background-color: white;
}

.category__list .category_list.active,
.category_title.active {
  background-color: var(--bgc);
  color: var(--hover);
  font-weight: 700;
  transition: var(--default-transition);
}


@media screen and (min-width: 768px)  {

  .categories {
    height: 472px;
    width: 329px;
  }





}