@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: DM Sans;
  font-weight: 700;
  src: url(../fonts/DMSans-Bold.woff2) format('woff2'),
    url(../fonts/DMSans-Bold.woff) format('woff');
}

@font-face {
  font-family: DM Sans;
  font-weight: 400;
  src: url(../fonts/DMSans-Regular.woff2) format('woff2'),
    url(../fonts/DMSans-Regular.woff) format('woff');
}

@font-face {
  font-family: DM Sans;
  font-weight: 500;
  src: url(../fonts/DMSans-Medium.woff2) format('woff2'),
    url(../fonts/DMSans-Medium.woff) format('woff');
}

@font-face {
  font-family: DM Sans;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/DMSans-Italic.woff2) format('woff2'),
    url(../fonts/DMSans-Italic.woff) format('woff');
}

body {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  background-color: var(--bgc);
  transition: var(--default-transition);
}


::-webkit-scrollbar {
  width: 0;

}
.title {
  color: var(--bookname-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  /* 118.75% */
  letter-spacing: -1.28px;
  margin-top: 40px;
  margin-left: 20px;
}

.title-tail {
  color: #4f2ee8;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -1.28px;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-sidebar {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar {

  padding-left: unset;
  padding-right: unset;
}

.book-list {
  padding-left: unset;
  padding-right: unset;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.08333;
    letter-spacing: -1.92px;
    margin-left: 32px;
   
  }
  .wrapper-sidebar {
    display: flex;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 32px;
    height: 474px;
    margin-bottom: 98px;
  }
  .sidebar {
    padding-left: unset;
    padding-right: unset;
    margin-bottom: unset;
  }

  .categories {
    height: 472px;
  }
  .title-tail {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.08333;
    /* 108.333% */
    letter-spacing: -1.92px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .wrapper-sidebar {
    margin: 40px auto 86px;
  }
  .main-wrapper {
    display: flex;
  }
  .wrapper-sidebar {
    display: unset;
    width: unset;
  }
  .book-list {
    margin-top: 40px;
    padding-left: unset;
    padding-right: unset;
    margin-left: 40px;
  }
  .sidebar {
    padding-left: unset;
    padding-right: unset;
    
  }
  .remove-charity {
    margin-top: 40px;
    margin-left: 24px;
    position: absolute;
  }
.title {
  margin-left: 420px;
}
  
  
}



@media screen and (max-width:1279px) {
  .remove-charity {
    display: none;
  }
}