.header {
  z-index: 1000;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 2px solid var(--header-outline);
  background: var(--bgc);
  border-radius: 0px 0px 8px 8px;
  transition: var(--default-transition);
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 28px;
}

.logo-text {
  color: var(--logotype-bookshelf);
}
.icon {
  width: 24px;
  height: 24px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .burger-button {
  width: 28px;
  height: 28px;
  filter: var(--burger);
  stroke: var(--white);
  background-image: url(/src/images/icons_by_one/burger.svg);
  margin-left: 14px;
} */

.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: none;
}

.user-button {
  display: none;
}

/* switcher */
input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  margin: 0 auto;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

input:checked + label {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + label:after {
  left: 39px;
  transform: translateX(-100%);
}

/*TABLET*/

@media screen and (min-width: 768px) {
  .container-header {
    padding: 24px 0;
    display: inline-flex;
    justify-content: space-around;
  }

  .navigation {
    margin-left: 40px;
    display: flex;
  }

  /* .navigation-item {
    padding: 8px;
  } */

  .nav-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .navigation-item.active {
    padding: 8px 16px;
    border-radius: 36px;
    background: #eac645;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 206px;
    height: 34px;
    gap: 16px;
    color: var(--bookname-color);
  }

  .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-item-div {
    width: 120px;
    display: flex;
    align-items: center;
  }

  .item-icon {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    fill: var(--bookname-color);
  }

  .burger-button {
    display: none;
  }

  .buttons-wrapper {
    margin-left: 101px;
  }

  .user-button {
    display: block;
    margin-left: 24px;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    background-color: var(--violet);
  }

  .user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    background-color: #fff;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 9px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    color: var(--white);
  }

  .info-icon {
    fill: var(--white);
    margin-left: 4px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    margin-left: 76px;
  }

  .buttons-wrapper {
    margin-left: auto;
  }
}
