@import url(./variables.css);

.header {
  position: relative;
  margin-bottom: 0px;
}

/* ===========COMMON================== */
.button-list {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.svg-modal-close {
  stroke: var(--bgc);
  filter: invert(1);
  height: 18px;

}



/* ===========MOBILE================== */

@media screen and (min-width: 375px),
(max-width:767px) {





  .shop-charity {
    display: none;
  }

  .shopping-text {
    color: var(--shop-list-txt);
    width: 244px;
    margin-top: 120px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28571;
    letter-spacing: -0.28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
  }

  .shop-empty-img {
    width: 265px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .shopping-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }

  .shop-product {
    position: relative;
    display: flex;
    width: 335px;
    height: 170px;
    padding: 14px;
    /* align-items: flex-start; */
    /* gap: 48px; */
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.40);
    background: var(--black-first-color);
  }

  .shop-dlt-btn {
    position: absolute;
    top: 10px;
    border: none;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: #4F2EE8;
    border-radius: 50%;
    cursor: pointer;
  }

  .shop-img {
    width: 100px;
    height: 142px;
    border-radius: 8px;
  }

  .shop-title {
    color: var(--bookname-color);
    margin-bottom: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125;
    /* 112.5% */
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }

  .shop-category {
    color: #B4AFAF;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: 0.36px;
  }

  .shop-description {
    overflow: hidden;
    color: var(--bookname-color);
    margin-bottom: 14px;


    font-size: 14px;

    font-weight: 400;
    line-height: 1.28571;

    letter-spacing: -0.56px;
    flex-grow: 1;
    word-wrap: break-word;
  }

  .shop-author {
    color: #B4AFAF;
    margin-bottom: 18px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16667;
    /* 116.667% */
    letter-spacing: -0.48px;
  }

  .icon-trash {
    stroke: #ffffff;
    width: 16px;
    height: 16px;
  }

  .shop-link-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }


  .js-modal-txt {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 242px;
    color: var(--text-modal-msg);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .add-book {
    min-width: 211px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    display: block;
    color: var(--bookname-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.285;
    letter-spacing: -0.14px;
    transition: var(--default-transition);
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .add-book:hover {
    background-color: #4F2EE8;
    color: #FFF;
  }

  .add-book:focus {
    background-color: #4F2EE8;
    color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);



  }


  .shop-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  .shop-link-amz {
    width: 32px;
    height: 11px;
  }

  .shop-link {
    width: 16px;
    height: 16px;
  }

  .book-info {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
  }

  .icon-shop-amz {
    width: 62px;
    height: 19px;
    filter: var(--modal-shop);
  }

  .icon-shop {
    width: 33px;
    height: 32px;
    filter: grayscale(100%)
  }
}

.shop-container {
  display: flex;
}

/*!-------basket--------- */

.book-info.basket {
  margin-top: unset;
  margin-left: 14px;
}

.shop-description.basket {

  text-overflow: ellipsis;
  white-space: nowrap;
  width: 193px;
  height: 68px;
  margin-bottom: 16px;
}

.shop-link-list.basket {
  width: 80px;
  height: 16px;
  gap: 8px;

}

.shop-wrap.basket {
  height: 16px;
}

.shop-author.basket {
  margin-bottom: unset;
}


.icon-shop-amz.basket {
  width: 32px;
  height: 11px;
}

.icon-shop.basket {
  width: 16px;
  height: 16px;
}



/* ===========TABLET================== */
@media screen and (min-width:768px) {

  .shopping-text {
    font-size: 18px;
    line-height: 1.3333;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
    margin-top: 140px;
  }

  .shop-empty-img {
    width: 322px;
    height: 241px;

  }

  .js-modal-txt {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 242px;
    color: var(--text-modal-msg);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.4px;
    position: absolute;
    bottom: 40px;
    left: 170px;
  }



  .shop-product {

    width: 704px;
    height: 213px;
    padding: 24px;



  }

  .shop-dlt-btn {
    top: 14px;
    right: 24px;
    padding: 0;
    width: 34px;
    height: 34px;
  }

  .shop-img {
    width: 100px;
    height: 165px;
    margin-right: 24px;

  }

  .shop-category {
    margin-bottom: 14px;
    width: 100%;
  }

  .shop-description {

    width: 100%;

    margin-bottom: 48px;
    text-overflow: ellipsis;
  }

  .icon-trash {

    width: 18px;
    height: 18px;
  }

  .shop-link-list {
    align-items: center;
    gap: 20px;

  }


  .shop-link-amz {
    width: 48px;
    height: 15px;
  }

  .shop-link {
    width: 28px;
    height: 28px;
  }

  .icon-shop-amz {
    width: 48px;
    height: 15px;

  }

  .icon-shop {
    width: 28px;
    height: 28px;

  }
}

/*!-------basket--768------- */
@media screen and (min-width:768px) {
  .shop-img.basket {
    width: 116px;
    height: 165px;
    margin-right: unset;
  }

  .book-info.basket {
    margin-left: 24px;
  }

  .shop-title.basket {
    margin-bottom: 4px;
  }

  .shop-description.basket {
    white-space: normal;
    width: 508px;
    height: 53px;
    margin-bottom: 32px;
  }

  .shop-wrap.basket {
    height: 30px;
  }


  .shop-link-list.basket {
    width: 140px;
    height: 30px;
    gap: 16px;

  }

  .icon-shop-amz.basket {
    width: 48px;
    height: 15px;
  }

  .icon-shop.basket {
    width: 28px;
    height: 27px;
  }
}

/* ===========DESKTOP================== */

@media screen and (min-width:1280px) {
  .shop-charity {
    margin-right: 40px;

  }

  .shop-product {
    width: 996px;
    height: 213px;
    margin-left: 420px;
    margin-top: 40px;
  }

  .shop-img {
    height: 165px;
  }

  .shop-charity {
    display: block;
  }

  .shopping-list {
    display: unset;
    margin-left: 320px;
  }

  .shop-description.basket {

    width: 808px;
    height: 53px;
    margin-bottom: 32px;
  }


}


/* < !--=========BACKDROP=============--> */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 1100;
  transition: opacity var(--transition), visibility var(--transition);

}

/* ==========Mobile modal============== */
@media screen and (min-width:375px),
(max-width:767px) {
  .modal {
    width: 335px;
    min-height: 762px;
    padding: 40px 24px 40px 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);

    border-radius: 18px;
    border: 2px solid var(--bookname-color);
    background: var(--bgc);
  }

  .modal-shop-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
  }

  .modal-shop-author {
    margin-bottom: 18px;
    color: #B4AFAF;

    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.285;
    /* 128.571% */
    letter-spacing: -0.48px;
  }

  .modal-shop-description {
    color: var(--bookname-color);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1, 28571;

    letter-spacing: -0.56px;
    margin-bottom: 14px;
  }

  .modal-shop-link-list {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
    align-items: baseline
  }

  .modal-shop-text {
    color: rgba(17, 17, 17, 0.50);
    text-align: center;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    letter-spacing: -0.4px;
    width: 242px;

    margin-left: auto;
    margin-right: auto;
  }


  .modal-shop-img {
    width: 287px;
    height: 408px;
    margin-bottom: 14px;
    border-radius: 8px;
  }

  .modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: 0 0;
    border: none;
    stroke: #111
  }

  .modal-dlt-btn {
    border-radius: 40px;
    border: 2px solid;
    border-color: #4F2EE8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background: #FFF;
    cursor: pointer;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.28571;
    /* 128.571% */
    letter-spacing: -0.14px;
    text-transform: uppercase;
    margin-bottom: 8px;
    width: 279px;
    height: 46px;
  }

  .modal-shop-link-amz {
    width: 62px;
    height: 19px;
  }

  .modal-shop-link {
    width: 32px;
    height: 32px;
  }

  .modal-shop-link-bsh {
    width: 38px;
    height: 36px;
  }

  .modal-icon-shop-amz {
    width: 62px;
    height: 19px;
    filter: grayscale(100%)
  }

  .modal-icon-shop {
    width: 32px;
    height: 32px;
    filter: grayscale(100%)
  }

  .modal-icon-shop-bsh {
    width: 38px;
    height: 36px;
    filter: grayscale(100%)
  }


  .modal-img {
    width: 287px;
    height: 408px;
    border-radius: 8px;
  }


}

/* ==========TABLET============== */

@media screen and (min-width:768px) {
  .modal {
    width: 579px;
    min-height: 501px;
    padding: 40px;

  }

  .modal-img {
    width: 192px;
    height: 281px;
    border-radius: 8px;
  }

  .modal-book-card {
    display: flex;
  }

  .book-info {

    margin-top: unset;
    margin-left: 24px;

  }


  .shop-title {

    margin-bottom: 8px;
  }

  .shop-author {
    margin-bottom: 20px;
  }

  .shop-description {

    width: 100%;
    flex-grow: unset;
    margin-bottom: 20px;

  }

  .add-book {
    width: 499px;
    height: 64px;
    bottom: 82px;
    left: 40px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
position: absolute;
  }



  .modal-info-wrap {
    display: flex;
  }

  .modal-shop-product {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-shop-img {
    width: 192px;
    height: 281px;
    margin-bottom: 40px;
    margin-right: 24px;
  }

  .modal-shop-author {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.56px;
  }

  .modal-shop-description {
    margin-bottom: 20px;
  }


  .modal-dlt-btn {
    font-size: 18px;
    line-height: 1.3333;

    letter-spacing: -0.18px;


    width: 499px;
    height: 64px;
  }


  .modal-shop-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: -0.48px;
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-close-btn {

    top: 12px;
    right: 12px;

  }

}

/* ==========desktop============== */
@media screen and (min-width:1280px) {}

/* ==========HOVER======================== */
.modal-close-btn:hover,
.modal-close-btn:focus {

  stroke: var(--hover)
}


.modal-dlt-btn:hover,
.modal-dlt-btn:focus {
  background-color: var(--hover);
  color: #FFF;
  border-color: transparent;
}



.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0)
}

.icon-shop:hover,
.icon-shop:hover:focus {

  mix-blend-mode: luminosity;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.icon-shop-amz:hover,
.icon-shop-amz:focus {
  mix-blend-mode: luminosity;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.img-modal:hover,
.img-modal:focus {
  mix-blend-mode: luminosity;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}