:root[data-theme='light'] {
  --when-modal-book-open-bgc: rgba(17, 17, 17, 40);
  /* колір бекграунду коли відкрита модалка */
  --all-categories-menu-gray: rgba(17, 17, 17, 0.6);
  /*колір шрифта категорій в меню All Categories*/
  --scroller-color: #e0e0e0;
  /* Колір скроллера в секції All Categories */
  --logotype-bookshelf: #000000;
  /* Колір логотипу для білої теми сайту */
  --header-outline: #111;
  --black-first-color: #fff;
  /* Колір тексту для білої теми */
  /* Колір що використовується в більшості: Назвах категорій в найбільшій секції Home, назвах книг, кнопках, контурі Header */
  --violet: #4f2ee8;
  /* Колір обводки кнопок See More, частини назв категорій у найбільшій секції Home та кнопки юзера в Header */
  --yellow: #eac645;
  /* Колір відображення, на якій сторінці зараз юзер, кнопки переходу на наступну сторінку в Shopping List та hover у темній темі */
  /* Та ховер на книжку */
  --bgc: #ffffff;
  /* Колір бекграунду для білої теми */
  --gray: #b4afaf;
  /* Колір імен авторів книжок */
  --white: #fff;
  /*Для білих елементів*/
  --bookname-color: #111;
  --hover: #4f2ee8;
  --burger: brightness(0);
}

:root[data-theme='dark'] {
  --when-modal-book-open-bgc: rgba(17, 17, 17, 40);
  /* колір бекграунду коли відкрита модалка */
  --all-categories-menu-gray: rgba(255, 255, 255, 0.6);
  /*колір шрифта категорій в меню All Categories*/
  --scroller-color: rgba(17, 17, 17, 60);
  /* Колір скроллера в секції All Categories */
  --logotype-bookshelf: #f3f3f3;
  /* Колір логотипу для темної теми сайту */
  --header-outline: #fff;
  --black-first-color: #111111;
  /* Колір тексту для темної теми */
  /* Колір що використовується в більшості: Назвах категорій в найбільшій секції Home, назвах книг, кнопках, контурі Header */
  --violet: #4f2ee8;
  /* Колір обводки кнопок See More, частини назв категорій у найбільшій секції Home та кнопки юзера в Header */
  --yellow: #eac645;
  /* Колір відображення, на якій сторінці зараз юзер, кнопки переходу на наступну сторінку в Shopping List та hover у темній темі */
  /* Та ховер на книжку */
  --bgc: #202024;
  /* Колір бекграунду для білої теми */
  --gray: #b4afaf;
  /* Колір імен авторів книжок */
  --white: #fff;
  --bookname-color: #fff;
  --hover: #eac645;
  --burger: brightness(0) invert();
}

:root {
  --default-transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  /*На випадок якщо вистачить часу на авторизацію*/
  --modal-signin-gray: rbga(17, 17, 17, 50);
  /*Колір Sign In в модалці реєстрації*/
  --modal-signin-white-light-theme: #f6f6f6;
  /* Колір модалки при білій темі сайту */
  --modal-signin-white-dark-theme: rbga(246, 246, 246, 50);
  /* Колір Sign In в модалці реєстрації при темній темі сайту */
  --black-second-color: #202024;
  /* Колір модалки при темній темі сайту */
  --violet: #4f2ee8;
  /* Колір Sign Up у модалках */
}
