:root {
  --when-modal-book-open-bgc: rgba(17, 17, 17, 40);
  /* колір бекграунду коли відкрита модалка */
  --all-categories-menu-gray: rgba(17, 17, 17, 60);
  /*колір шрифта категорій в меню All Categories*/
  --all-categories-menu-dark-theme-white: rgba(255, 255, 255, 60);
  /* колір шрифта категорій в меню All Categories при темній темі сайту */
  --scroller-color: #e0e0e0;
  /* Колір скроллера в секції All Categories */
  --black-logotype-bookshelf: #000000;
  /* Колір логотипу для білої теми сайту */
  --white-logotype-bookshelf: #f3f3f3;
  /* Колір логотипу для темної теми сайту */
  --black-first-color: #111111;
  /* Колір тексту для білої теми */
  /* Колір що використовується в більшості: Назвах категорій в найбільшій секції Home, назвах книг, кнопках, контурі Header */
  --black-second-color-bgc: #202024;
  /* Колір бекграунду для темної теми */
  --violet: #4f2ee8;
  /* Колір обводки кнопок See More, частини назв категорій у найбільшій секції Home та кнопки юзера в Header */
  --yellow: #eac645;
  /* Колір відображення, на якій сторінці зараз юзер, кнопки переходу на наступну сторінку в Shopping List та hover у темній темі */
  /* Та ховер на книжку */
  --white-bgc: #ffffff;
  /* Колір бекграунду для білої теми */
  --gray: #b4afaf;
  /* Колір імен авторів книжок */

  /*На випадок якщо вистачить часу на авторизацію*/
  --modal-signin-gray: rbga(17, 17, 17, 50);
  /*Колір Sign In в модалці реєстрації*/
  --modal-signin-white-light-theme: #f6f6f6;
  /* Колір модалки при білій темі сайту */
  --modal-signin-white-dark-theme: rbga(246, 246, 246, 50);
  /* Колір Sign In в модалці реєстрації при темній темі сайту */
  --black-second-color: #202024;
  /* Колір модалки при темній темі сайту */
  --violet: #4f2ee8;
  /* Колір Sign Up у модалках */
}
